* {
    margin: 0;
    padding: 0;
}
/* 整体页面 */
.landing {
    position: relative;
    margin: 0 auto;
    width: 1440px;
    height: 1024px;
    background-color: #fff;
}
/* 右边红色区域 */
.Ad {
    position: absolute;
    right: 0px;
    width: 800px;
    height: 1024px;
    background-color: #EC4B41;
}
/* 红色区域厘米的图片 */
.img {
    position: absolute;
    top: 200px;
    right: 90px;
    width: 620px;
    height: 477px;
    background-image: url("../img/login_1.png");
}
/* 红色区域里面底部文字 */
.Ad_text {
    position: absolute;
    left: 60px;
    top: 840px;
    width: 721px;
    height: 72px;
    opacity: 0.8;
    /** 文本1 */
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 0px;
    line-height: 24px;
    color: rgba(255, 255, 255, 1);
    text-align: left;
    vertical-align: top;
}
/* 左侧登陆界面 */
.login {
    position: absolute;
    top: 200px;
    left: 120px;
    background-color: rgb(230, 225, 225);
    width: 400px;
    height: 680px;
    border:0px solid rgb(230, 225, 225);
    border-radius: 10px;
}
/* logo位置  图片暂无 */
.logo{
    position: absolute;
    top: 40px;
    left: 40px;
}
/* 设置字体样式 */
.title{
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 0px;
    line-height: 24px;
    color: #000;
    text-align: left;
    vertical-align: top;
}
/* 邮箱字样 */
.email{
    position: absolute;
    top: 220px;
    left: 60px;
    
}
/* 邮箱输入框 */
.input_email{
    position: absolute;
    top: 260px;
    left: 60px;
    width: 200px;
    height: 30px;
    border-radius: 8px;
}
/* 密码字样 */
.password{
    position: absolute;
    top:330px ;
    left: 60px;
}
/* 密码输入框 */
.input_password{
    position: absolute;
    top: 370px;
    left: 60px;
    width: 200px;
    height: 30px;
    border-radius: 8px;
}
/* login底部提示文本 */
.tips{
    display: inline-block;
    position: absolute;
    bottom: 40px;
    left: 80px;
}
/* login底部创建账户文本 */
.create_count{
    display: inline-block;
    position: absolute;
    bottom: 40px;
    left: 180px;
}
/* 创建账户超链接文本 */
.create_count> a{
    color: red;
}
a{
    text-decoration: none;
}
/* 登陆按钮 */
.login_btn{
    position: absolute;
    top: 449px;
    left: 59px;
    width: 200px;
    height: 30px;
    text-align: center;
    background-color: #EC4B41;
    border: 1px solid red;
    border-radius: 10px;
    cursor: pointer;
    box-shadow: 1px 1px #000;
}
.login_btn>a{
    color: #000;
}
/* 输入框聚焦样式 */
input:focus{
    border: 0px;
    outline: 2px solid #EC4B41;
    box-shadow: 3px 3px 3px 3px #ccc;
}
/* 进入登陆栏   登陆栏样式 */
.login:hover{
    animation: login_shadow 0.8s 1 forwards;
}
@keyframes login_shadow{
    form{
        box-shadow: 2px 2px 2px #000;
    }
    to{
        box-shadow: 10px 10px 10px #000;
    }
}
.login_btn:active{
    background-color: #ccc;
    opacity: 0.2;
    animation: login_btn 3s 1 forwards;
}
@keyframes login_btn{
    from{
        box-shadow: 1px 1px #000;
    }
    to{
        opacity: 0.7;
        transform: translate(1px 1px);
        box-shadow: 0px 0px #000;
    }
}